.root {
  --main-color: #272142;
  --seconday-color: #6c63ff;
  --primary-font-family: "Playfair Display", serif;
  --secondary-font-family: "Poppins", sans-serif;
}
h2 {
  font-family: var(--secondary-font-family);
  font-size: 36px;
  font-weight: bold;
  color: var(--main-color);
}
h1 {
  font-family: var(--primary-font-family);
  font-size: 96px;
  font-weight: bold;
}
h3 {
  font-family: var(--primary-font-family);
  font-size: 64px;
  font-weight: bold;
  line-height: normal;
}

.p-heading {
  font-family: var(--secondary-font-family);
  font-size: 24px;
  font-weight: normal;
  color: var(--main-color);
}
.branding {
  font-size: 18px;
  font-weight: normal;
  background-color: var(--seconday-color);

  color: white;
  border-radius: 4px;
  line-height: 27px;
  padding: 10px 20px;
}
.btn-branding-outline {
  font-size: 18px;
  border-radius: 4px;
  line-height: 27px;
  padding: 15px 30px;
  color: var(--seconday-color);
  border: 1px solid var(--seconday-color);
}

body {
  text-align: center;
  margin: 160px 40px;
}
p {
  font-family: var(--secondary-font-family);
  font-size: 16px;
  line-height: 30px;
  color: var(--main-color);
}
