:root {
  --main-color: #272142;
  --secondary-color: #6c63ff;
  --primary-font-family: "Playfair Display", serif;
  --secondary-font-family: "Poppins", sans-serif;
}

.hero {
  text-align: center;
  margin: 100px 40px;
  background-color: #f9f7fe;
  padding: 160px 80px;
}

h2 {
  font-family: var(--secondary-font-family);
  font-size: 36px;
  font-weight: bold;
  color: var(--main-color);
}
h1 {
  font-family: var(--primary-font-family);
  font-size: 96px;
  font-weight: bold;
}
h3 {
  font-family: var(--primary-font-family);
  font-size: 64px;
  font-weight: bold;
  line-height: normal;
}
.content-section {
  padding: 160px 80px;
  margin: 30px;
}
.content-container h1 {
  font-size: 64px;
  line-height: 80px;
}
.content-container h2 {
  font-size: 18px;
  font-family: var(--secondary-font-family);
}

.content-section h3 {
  font-family: var(--secondary-font-family);
  font-size: 24px;
}

.content-section p {
  font-size: 14px;
}
.btn-branding {
  background-color: var(--secondary-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.learn-more {
  font-size: 18px;
  border-radius: 4px;
  line-height: 27px;
  padding: 15px 30px;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  text-align: center;
}

.featured-text {
  text-align: center;
  margin: 60px 40px;
}

.p-heading {
  font-family: var(--secondary-font-family);
  font-size: 24px;
  font-weight: normal;
  color: var(--main-color);
  margin: 60px 20px;
}

p {
  font-family: var(--secondary-font-family);
  font-size: 16px;
  line-height: 30px;
  color: var(--main-color);
  justify-content: left;
}
.project-description {
  padding: 80px 30px;
}
@media (max-width: 900px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
  h1 {
    font-size: 50px;
  }
  .p-heading {
    font-size: 20px;
  }
  h3 {
    font-size: 44px;
  }
  .hero {
    padding: 80px 0;
  }
  p {
    font-size: 12px;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
  .content-container h1 {
    margin-top: 0;
    font-size: 54px;
  }
}
.logo {
  max-height: 40px;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}
nav a:hover,
nav li.active a {
  color: var(--secondary-color);
}
